commands: 
  create_pre_dir: 
    command: "mkdir /home/ec2-user/aws-elastic-beanstalk-cli"
    ignoreErrors: true

option_settings:
    aws:elasticbeanstalk:container:python:
      WSGIPath: dcdjango.wsgi:application

    aws:elasticbeanstalk:command:
      DeploymentPolicy: Immutable
      HealthCheckSuccessThreshold: Warning
      IgnoreHealthCheck: true
      Timeout: 1800
    
